.header{
    width: 100%;
    position: fixed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px blue;
    color: white;
    z-index: 99;
}

@media(max-width:1000px){
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}

