.App{
    padding-top: 130px;
    min-height: 100vh;
    color: white;
    background-color: #39445a;
    padding-bottom: 70px;
}

@media(max-width:700px){
    .App{
        padding-top: 80px;
    }
}

