*{
    scroll-behavior: smooth;
}

.App{
    padding-top: 130px;
    min-height: 100vh;
    color: white;
    background-color: white;
    padding-bottom: 70px;
}

@media(max-width:700px){
    .App{
        padding-top: 80px;
    }
}

.page-title{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Motserrat", sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: black;
}

@media(max-width:1000px){
    .page-title{
        font-size: 6.4vw;
    }
}

